.login-form{
    display: inline-block;
    width: 40%;
    margin-top: 100px;
    margin-left: 30%;
}
.login-fields-discription{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: grey;
}
.login-form form .login-fields-interactive{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(173, 166, 166);
    border-radius: 20px;
    font-size: 18px;
}
.login-form form .login-button{
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background: black;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
}
.login-form form .login-rigister-account-link{
    display: inline-block;
    text-decoration: none;
    color: rgb(31, 29, 29);
}
.login-form form .login-rememberme-checkbox{
    display: inline-block;
    margin-left: 200px;
}
.login-form form .login-rememberme-discription{
    position: absolute;
    display: inline-block;
    margin-top: -2px;
    margin-left: 10px;
}